<div class="position-sticky" style="top: 2rem;">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="h5">Quote Corner</h4>
    <div id="random-quote"></div>
    <script>
      const quotes = [
        "Your backend should never know your frontend exits.",
      ];
      const idx = Math.floor(Math.random() * quotes.length);
      document.getElementById('random-quote').innerHTML = `<p class=\"mb-0 fst-italic\">"${quotes[idx]}"</p>`;
    </script>
  </div>
  <div class="p-4">
    <h4 class="h5">Tags</h4>
    <div>
      {{ $currentUrl := .Permalink }}
      {{ range .Site.Taxonomies.tags.ByCount }}
        {{ $tagUrl := (print "/tags/" (.Name | urlize) "/") | absURL }}
        <a class="btn btn-sm {{ if eq $currentUrl $tagUrl }}btn-primary text-white{{ else }}btn-light{{ end }} me-2 mb-2" href="{{ $tagUrl }}" role="button">
          #{{ .Name }} ({{ .Count }})
        </a>
      {{ end }}
    </div>
  </div>
</div> 